/*!
 * Dunwoo Admin - v1.0.0 (https://dunwoo.com/projects/dunwoo-admin)
 * Copyright 2019 Dunwoo (https://www.dunwoo.com)
 */

a:focus,
button:focus {
  outline: none !important;
}

#root, body, html {
    height: 100%;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.wrapper-boxed {
    max-width: 1440px;
    margin: 0 auto;
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
    overflow: hidden;
}

.content {
    padding: 2.5rem;
}

@media (max-width:991.98px) {
    .content {
        width: 100vw;
        max-width: 100vw;
    }
}

@media (max-width:1199.98px) {
    .content {
        padding: 1.5rem;
    }
}

.main {
    width: 100%;
    min-height: 100vh; // 没有内容时元素高度会撑开与屏幕一致
    min-width: 0;
    transition: margin-left .35s ease-in-out, left .35s ease-in-out
}

@media (max-width:991.98px) {
    .main {
        overflow-y: hidden
    }
}


html[data-useragent*="MSIE 10.0"] .main {
    width: calc(100% - 256px)
}

html[data-useragent*="MSIE 10.0"] .sidebar-toggle {
    display: none !important
}

html[data-useragent*="MSIE 10.0"] .sidebar {
    width: 256px !important;
    min-width: 256px !important;
    margin-left: 0 !important
}

html[data-useragent*="MSIE 10.0"] .toggled.sidebar-collapsed {
    margin-left: 0 !important
}


.fe {
  font-size: 1.125rem;
}

.fe-lg {
  font-size: 2.25rem;
}