
//
// 主题自定义变量
//
// 变量的命名遵循 `$组件-状态-属性-大小` 的格式,
// 比如: $nav-link-disabled-color, $modal-content-box-shadow-xs.



//  menubar
//  

$menubar-min-width: 256px;
$menubar-max-width: 256px;

$menubar-bg: #354052;
$menubar-color: #ced4da;